<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }} Entry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
    <ion-item>
      <ion-label position="floating">What did you do yesterday?</ion-label>
      <ion-textarea  [(ngModel)]="updateData.didDo"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Plan today</ion-label>
      <ion-textarea  [(ngModel)]="updateData.plan"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Blocker Issues</ion-label>
      <ion-textarea  [(ngModel)]="updateData.blockers"></ion-textarea>
    </ion-item>
  
    <section class="ion-margin">
      <ion-button (click)="save()">Save</ion-button>
    </section>
 
</ion-content>
