<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Email Address</ion-label>
    <ion-input [(ngModel)]="credential.emailAddress"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="credential.password"></ion-input>
  </ion-item>

  <section class="ion-margin">
    <ion-button (click)="login()">Login</ion-button>
  </section>

  <section class="ion-margin">
    <p>No account yet? <a (click)="register()"> click here </a> </p>
  </section>
</ion-content>
