<ion-header>
  <ion-toolbar>
    <ion-title>
      Scrum Update Records
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <ion-calendar
       (change)="onChange($event)" 
       [(ngModel)]="date" 
       [options]="optionsMulti"
       [type]="type" 
       [format]="'YYYY-MM-DD'">
    </ion-calendar>

    <section *ngIf="isTodaySelected && selectedUpdateData.didDo.length === 0 ">
      <ion-button expand="block" (click)="goToAddEntry()">Add Entry</ion-button>
    </section>

    <app-update-item [updateData]="selectedUpdateData" (editSelected)="editSelected($event)"></app-update-item>

  </div>
</ion-content>
